<div class="sidenav">

  <div class="profile">
    <img src="../../../../assets/images/attractive-beautiful-beautiful-girl-713527.jpg" alt="" >
  </div>

  <div class="greeting">
    <p style="color: white !important; font-family: poppins; margin-bottom: 0;">Hi, GeeBee</p>
  </div>

  <ul class="menu">
    <li><a href="#home">Home</a></li>
    <hr>
    
    <li><a href="#products ">Add New Item</a></li>
    <hr>
    
    <li><a href="#company ">New Note</a></li>
    <hr>
    
    <li><a href=" #contact ">View Notes</a></li>
    <hr>

  </ul>
</div>